#code {
  resize: none;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: pre;
  width: 100%;
  height: 50vh;
  background-color: darkslategray;
  color: wheat;
}

#output {
  resize: none;
  overflow: auto;
  overflow-y: scroll;
  width: 100%;
  height: 40vh;
  background-color: darkslategray;
  color: wheat;
  padding: 8px;
  white-space: pre;
}

body {
  margin: 0;
}
