body {
    background: #444;
    color: white;
    font-family: "monospace";
}

a:link { color: #abd; }
a:visited { color: #bbd; }

.panel {
    border: 0;
    text-align: left;
    font-size: 16px;
    margin: 0.5em;
}

.panel * {
    border: 0;
    padding: 0.3em 1em;
}

.panel select {
    background-color: #b0b2c0;
}
.panel select:hover {
   background-color:#9092a0
}

.panel .run {
    background-color: #b0c0b2;
}
.panel .run:hover {
   background-color: #90a092;
}

.footer {
    text-align: center;
    font-size: 12px;
}

.splitter {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 30px;
    position: relative;
    width: 100%;
    height: 100%;
}

.left {
    grid-column: 1;
    display: block;
}

.right {
    grid-column: 2;
    scroll: auto;
}

#editor {
    width: 100%;
    height: 92.5vh;

    margin: 4px;
    padding: 8px;
    background: #222;
    color: white;
    border: 0;
    font-family: monospace;
    resize: none;
    overflow: auto;
    spellcheck: false;
    autofocus: true;
}

.output {
    height: 92.5vh;
    width: 50vw;
    max-width: 50vw;

    margin: 4px;
    padding: 8px;
    background-color: #222;
    color: white;
    white-space:  pre;
    font-family: monospace;
    overflow: auto;
}

.call_graph {
    height: 92.5vh;
    width: 50vw;
    max-width: 50vw;

    margin: 4px;
    padding: 8px;
    background-color: #222;
    color: white;
    white-space:  pre;
    font-family: monospace;
    overflow: auto;
    display: none;
}
